backups/último_workflow_n8n.json.bak
{
  "name": "AI Daily Newsletter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "ad4fdb5e-b565-41ec-a275-f83956b66edd",
      "name": "Every Day at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        368
      ]
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/ai-artificial-intelligence/index.xml",
        "options": {}
      },
      "id": "3832d416-84da-42d7-8a43-746e82d49cc8",
      "name": "RSS - The Verge AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "25d54b57-0c92-4615-ad85-2a1cca43654c",
      "name": "RSS - TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/venturebeat/SZYF",
        "options": {}
      },
      "id": "a16b762e-895f-4182-b5a4-86f245a47c60",
      "name": "RSS - VentureBeat AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.weblogssl.com/xataka2",
        "options": {}
      },
      "id": "de27d6c9-3073-41fa-b9c4-8968124165c6",
      "name": "RSS - Xataka IA",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {}
      },
      "id": "c39e2fff-4378-4364-b2fa-4a657a9e6d57",
      "name": "RSS - MIT Tech Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        640
      ]
    },
    {
      "parameters": {},
      "id": "2e250769-ba7c-45fc-a23b-e06c397ca9a5",
      "name": "Merge RSS Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        272,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst highImpactKeywords = [\n  'gpt', 'gemini', 'claude', 'llm', 'artificial intelligence',\n  'openai', 'anthropic', 'google deepmind', 'meta ai', 'mistral',\n  'model', 'breakthrough', 'release', 'launch', 'regulation',\n  'agi', 'agent', 'multimodal', 'reasoning', 'benchmark',\n  'inteligencia artificial', 'inteligencia', 'ia ', ' ai ',\n  'modelo', 'lanzamiento', 'regulacion', 'regulación', 'agente',\n  'aprendizaje', 'machine learning', 'deep learning', 'chatgpt',\n  'copilot', 'nvidia', 'sam altman', 'demis hassabis'\n];\n\nconst excludeKeywords = [\n  'how to use', 'tutorial basico', 'tips', 'tricks', 'quiz',\n  'deal', 'sale', 'discount', 'coupon', 'oferta', 'precio',\n  'comprar', 'chollos'\n];\n\n// Deduplicar por título\nconst seen = new Set();\nconst filtered = items\n  .filter(item => {\n    const title = (item.json.title || '').toLowerCase();\n    const text = (title + ' ' + (item.json.contentSnippet || '') + ' ' + (item.json.categories || []).join(' ')).toLowerCase();\n    const hasHighImpact = highImpactKeywords.some(kw => text.includes(kw));\n    const hasExcluded = excludeKeywords.some(kw => text.includes(kw));\n    const hasLink = !!(item.json.link || item.json.guid);\n    const isDuplicate = seen.has(title.substring(0, 40));\n    if (!isDuplicate) seen.add(title.substring(0, 40));\n    return hasHighImpact && !hasExcluded && hasLink && !isDuplicate;\n  })\n  .slice(0, 8);\n\nconst tagMap = ['IA', 'Modelos', 'Investigación', 'Industria', 'Tecnología', 'Agentes', 'Regulación', 'Innovación'];\n\nreturn filtered.map((item, i) => ({\n  json: {\n    title: item.json.title || 'Sin título',\n    summary: item.json.contentSnippet\n      ? item.json.contentSnippet.substring(0, 220) + '...'\n      : item.json.content\n        ? item.json.content.replace(/<[^>]*>/g, '').substring(0, 220) + '...'\n        : 'Ver artículo completo.',\n    link: item.json.link || item.json.guid || '#',\n    source: (() => {\n      try {\n        const url = item.json.link || item.json.guid || '';\n        return url ? new URL(url).hostname.replace('www.', '') : 'fuente';\n      } catch(e) { return 'fuente'; }\n    })(),\n    date: item.json.pubDate\n      ? new Date(item.json.pubDate).toLocaleDateString('es-ES', { day: 'numeric', month: 'short', year: 'numeric' })\n      : new Date().toLocaleDateString('es-ES', { day: 'numeric', month: 'short', year: 'numeric' }),\n    tag: tagMap[i % tagMap.length],\n    isFeatured: i === 0\n  }\n}));\n"
      },
      "id": "8f80f6f5-8609-446a-b24b-85ac0d31b1e4",
      "name": "Filter & Format News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.all();\n\nconst today = new Date().toLocaleDateString('es-ES', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\nconst todayCap = today.charAt(0).toUpperCase() + today.slice(1);\n\nconst tagClasses = {\n  'IA': 'tag-ia', 'Modelos': 'tag-models', 'Investigación': 'tag-research',\n  'Industria': 'tag-industry', 'Tecnología': 'tag-tech',\n  'Agentes': 'tag-ia', 'Regulación': 'tag-industry', 'Innovación': 'tag-research'\n};\n\nconst featured = articles[0]?.json;\nconst rest = articles.slice(1);\n\nconst featuredCard = featured ? `\n<article class=\"card card-featured\">\n  <div class=\"card-featured-content\">\n    <span class=\"featured-badge\">◈ Destacado</span>\n    <h2 class=\"card-title\"><a href=\"${featured.link}\" target=\"_blank\">${featured.title}</a></h2>\n    <p class=\"card-summary\">${featured.summary}</p>\n    <div class=\"card-footer\">\n      <span class=\"source\"><span class=\"source-dot\"></span>${featured.source}</span>\n      <a href=\"${featured.link}\" target=\"_blank\" class=\"read-link\">Leer artículo →</a>\n    </div>\n  </div>\n  <div class=\"featured-visual\"><div class=\"featured-orb\"></div></div>\n</article>` : '';\n\nconst regularCards = rest.map(item => {\n  const a = item.json;\n  const tagClass = tagClasses[a.tag] || 'tag-ia';\n  return `\n  <article class=\"card\">\n    <div class=\"card-top\">\n      <span class=\"tag ${tagClass}\">${a.tag}</span>\n      <span class=\"card-date\">${a.date}</span>\n    </div>\n    <h2 class=\"card-title\"><a href=\"${a.link}\" target=\"_blank\">${a.title}</a></h2>\n    <p class=\"card-summary\">${a.summary}</p>\n    <div class=\"card-footer\">\n      <span class=\"source\"><span class=\"source-dot\"></span>${a.source}</span>\n      <a href=\"${a.link}\" target=\"_blank\" class=\"read-link\">Leer →</a>\n    </div>\n  </article>`;\n}).join('');\n\nconst css = `*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}:root{--bg1:#05050f;--glass:rgba(255,255,255,0.04);--glass-hover:rgba(255,255,255,0.08);--glass-border:rgba(255,255,255,0.10);--glass-border-hover:rgba(255,255,255,0.22);--accent:#a78bfa;--accent2:#38bdf8;--accent3:#f59e0b;--accent4:#34d399;--text:#f0f0ff;--text-muted:rgba(240,240,255,0.55);--text-dim:rgba(240,240,255,0.28)}html{scroll-behavior:smooth}body{background:var(--bg1);color:var(--text);font-family:'Bricolage Grotesque',sans-serif;min-height:100vh;overflow-x:hidden}.bg-orbs{position:fixed;inset:0;pointer-events:none;z-index:0;overflow:hidden}.orb{position:absolute;border-radius:50%;filter:blur(120px);opacity:0.18}.orb-1{width:700px;height:700px;background:#7c3aed;top:-200px;left:-200px}.orb-2{width:500px;height:500px;background:#0ea5e9;top:40%;right:-150px}.orb-3{width:400px;height:400px;background:#f59e0b;bottom:-100px;left:30%}.bg-grid{position:fixed;inset:0;z-index:0;pointer-events:none;background-image:linear-gradient(rgba(255,255,255,0.025) 1px,transparent 1px),linear-gradient(90deg,rgba(255,255,255,0.025) 1px,transparent 1px);background-size:60px 60px}.wrapper{position:relative;z-index:1;max-width:900px;margin:0 auto;padding:0 24px 100px}header{padding:56px 0 48px}.header-inner{display:flex;align-items:flex-start;justify-content:space-between;gap:24px;flex-wrap:wrap}.logo-wrap{display:flex;align-items:center;gap:14px}.logo-icon{width:44px;height:44px;border-radius:12px;background:linear-gradient(135deg,rgba(167,139,250,0.3),rgba(56,189,248,0.3));border:1px solid var(--glass-border);backdrop-filter:blur(10px);display:flex;align-items:center;justify-content:center;font-size:22px}.logo-text{font-family:'Space Mono',monospace;font-size:13px;letter-spacing:0.22em;text-transform:uppercase;color:var(--accent2)}.header-badge{display:flex;align-items:center;gap:8px;padding:8px 16px;background:var(--glass);border:1px solid var(--glass-border);border-radius:100px;backdrop-filter:blur(10px)}.pulse-dot{width:7px;height:7px;background:var(--accent4);border-radius:50%;animation:pulse 2.2s ease-in-out infinite}@keyframes pulse{0%,100%{opacity:1;transform:scale(1);box-shadow:0 0 0 0 rgba(52,211,153,0.5)}50%{opacity:0.7;transform:scale(1.2);box-shadow:0 0 0 6px rgba(52,211,153,0)}}.badge-text{font-family:'Space Mono',monospace;font-size:11px;color:var(--text-muted);letter-spacing:0.05em}.hero{margin-top:48px;margin-bottom:16px}.hero-eyebrow{font-family:'Space Mono',monospace;font-size:11px;letter-spacing:0.3em;text-transform:uppercase;color:var(--accent);margin-bottom:20px;display:flex;align-items:center;gap:10px}.hero-eyebrow::before{content:'';display:block;width:28px;height:1px;background:var(--accent)}h1{font-size:clamp(2.8rem,7vw,5.2rem);font-weight:800;line-height:1.0;letter-spacing:-0.04em;margin-bottom:28px}h1 .line1{color:var(--text);display:block}h1 .line2{display:block;background:linear-gradient(90deg,var(--accent) 0%,var(--accent2) 60%,var(--accent4) 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text}.hero-meta{display:flex;align-items:center;gap:24px;flex-wrap:wrap}.hero-date{font-family:'Space Mono',monospace;font-size:13px;color:var(--text-muted)}.hero-count{font-family:'Space Mono',monospace;font-size:12px;color:var(--text-dim);padding:4px 12px;border:1px solid var(--glass-border);border-radius:100px}.divider{height:1px;background:linear-gradient(90deg,transparent,var(--glass-border),transparent);margin:48px 0}.section-label{font-family:'Space Mono',monospace;font-size:10px;letter-spacing:0.3em;text-transform:uppercase;color:var(--text-dim);margin-bottom:28px;display:flex;align-items:center;gap:14px}.section-label::after{content:'';flex:1;height:1px;background:linear-gradient(90deg,var(--glass-border),transparent)}.cards-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(380px,1fr));gap:16px}.card{background:var(--glass);border:1px solid var(--glass-border);border-radius:20px;padding:28px;backdrop-filter:blur(20px);-webkit-backdrop-filter:blur(20px);transition:background 0.3s,border-color 0.3s,transform 0.3s;position:relative;overflow:hidden}.card::before{content:'';position:absolute;top:0;left:0;right:0;height:1px;background:linear-gradient(90deg,transparent,rgba(255,255,255,0.18),transparent)}.card:hover{background:var(--glass-hover);border-color:var(--glass-border-hover);transform:translateY(-3px)}.card-featured{grid-column:1/-1;display:grid;grid-template-columns:1fr 1fr;gap:40px;align-items:center;padding:40px;background:linear-gradient(135deg,rgba(167,139,250,0.06),rgba(56,189,248,0.04));border-color:rgba(167,139,250,0.2)}.card-featured .card-title{font-size:22px;line-height:1.3}.card-featured .card-summary{font-size:14px}.featured-badge{font-family:'Space Mono',monospace;font-size:9px;letter-spacing:0.2em;text-transform:uppercase;color:var(--accent);background:rgba(167,139,250,0.12);border:1px solid rgba(167,139,250,0.3);padding:5px 12px;border-radius:100px;margin-bottom:20px;display:inline-block}.featured-visual{display:flex;align-items:center;justify-content:center}.featured-orb{width:180px;height:180px;border-radius:50%;background:conic-gradient(from 180deg,rgba(167,139,250,0.4),rgba(56,189,248,0.4),rgba(52,211,153,0.3),rgba(167,139,250,0.4));filter:blur(30px);animation:spin 12s linear infinite}@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}.card-top{display:flex;align-items:center;justify-content:space-between;margin-bottom:18px}.tag{font-family:'Space Mono',monospace;font-size:9px;letter-spacing:0.18em;text-transform:uppercase;padding:5px 10px;border-radius:100px;border:1px solid}.tag-ia{color:var(--accent);border-color:rgba(167,139,250,0.35);background:rgba(167,139,250,0.08)}.tag-tech{color:var(--accent2);border-color:rgba(56,189,248,0.35);background:rgba(56,189,248,0.08)}.tag-research{color:var(--accent4);border-color:rgba(52,211,153,0.35);background:rgba(52,211,153,0.08)}.tag-industry{color:var(--accent3);border-color:rgba(245,158,11,0.35);background:rgba(245,158,11,0.08)}.tag-models{color:#f472b6;border-color:rgba(244,114,182,0.35);background:rgba(244,114,182,0.08)}.card-date{font-family:'Space Mono',monospace;font-size:10px;color:var(--text-dim)}.card-title{font-size:16px;font-weight:700;line-height:1.45;letter-spacing:-0.01em;margin-bottom:14px;color:var(--text)}.card-title a{color:inherit;text-decoration:none;transition:color 0.2s}.card-title a:hover{color:var(--accent2)}.card-summary{font-size:13px;color:var(--text-muted);line-height:1.75;margin-bottom:22px}.card-footer{display:flex;align-items:center;justify-content:space-between;padding-top:18px;border-top:1px solid rgba(255,255,255,0.06)}.source{display:flex;align-items:center;gap:7px;font-family:'Space Mono',monospace;font-size:10px;color:var(--text-dim)}.source-dot{width:5px;height:5px;border-radius:50%;background:var(--accent2);opacity:0.6}.read-link{font-family:'Space Mono',monospace;font-size:10px;color:var(--accent2);text-decoration:none;letter-spacing:0.08em;display:flex;align-items:center;gap:5px;transition:color 0.2s}.read-link:hover{color:#fff}footer{margin-top:72px;padding:36px 0;border-top:1px solid var(--glass-border);display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;gap:16px}.footer-brand{font-family:'Space Mono',monospace;font-size:11px;color:var(--text-dim);letter-spacing:0.2em;text-transform:uppercase}.footer-note{font-size:12px;color:var(--text-dim)}.footer-note a{color:var(--accent);text-decoration:none}.sources-bar{display:flex;flex-wrap:wrap;gap:8px;margin-bottom:40px}.source-chip{font-family:'Space Mono',monospace;font-size:9px;letter-spacing:0.1em;padding:4px 10px;border-radius:100px;border:1px solid var(--glass-border);color:var(--text-dim)}@media(max-width:640px){.cards-grid{grid-template-columns:1fr}.card-featured{grid-template-columns:1fr}.featured-visual{display:none}h1{font-size:2.4rem}}`;\n\nconst landingHTML = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">\n<title>AI Signal — ${todayCap}</title>\n<link href=\"https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Bricolage+Grotesque:wght@300;400;500;600;700;800&display=swap\" rel=\"stylesheet\">\n<style>${css}</style>\n</head>\n<body>\n<div class=\"bg-orbs\"><div class=\"orb orb-1\"></div><div class=\"orb orb-2\"></div><div class=\"orb orb-3\"></div></div>\n<div class=\"bg-grid\"></div>\n<div class=\"wrapper\">\n  <header>\n    <div class=\"header-inner\">\n      <div class=\"logo-wrap\"><div class=\"logo-icon\">◈</div><span class=\"logo-text\">AI Signal</span></div>\n      <div class=\"header-badge\"><div class=\"pulse-dot\"></div><span class=\"badge-text\">Actualizado hoy</span></div>\n    </div>\n    <div class=\"hero\">\n      <div class=\"hero-eyebrow\">Inteligencia artificial</div>\n      <h1><span class=\"line1\">Lo que mueve</span><span class=\"line2\">la IA hoy</span></h1>\n      <div class=\"hero-meta\">\n        <span class=\"hero-date\">${todayCap}</span>\n        <span class=\"hero-count\">${articles.length} artículos seleccionados</span>\n      </div>\n    </div>\n  </header>\n  <div class=\"divider\"></div>\n  <div class=\"sources-bar\">\n    <span class=\"source-chip\">◈ The Verge AI</span>\n    <span class=\"source-chip\">◈ TechCrunch AI</span>\n    <span class=\"source-chip\">◈ VentureBeat</span>\n    <span class=\"source-chip\">◈ Xataka IA</span>\n    <span class=\"source-chip\">◈ MIT Tech Review</span>\n  </div>\n  <div class=\"section-label\">Noticias destacadas</div>\n  <div class=\"cards-grid\">\n    ${featuredCard}\n    ${regularCards}\n  </div>\n  <footer>\n    <span class=\"footer-brand\">AI Signal</span>\n    <span class=\"footer-note\">Generado automáticamente · <a href=\"mailto:alchemy.zcoder@gmail.com\">alchemy.zcoder@gmail.com</a></span>\n  </footer>\n</div>\n</body>\n</html>`;\n\nconst emailHTML = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"background:#09090f;margin:0;padding:32px 16px;font-family:system-ui,sans-serif\">\n<div style=\"max-width:520px;margin:0 auto\">\n  <div style=\"margin-bottom:28px\">\n    <span style=\"font-family:monospace;font-size:12px;color:#38bdf8;letter-spacing:0.2em\">AI SIGNAL</span>\n    <h1 style=\"color:#f0f0ff;font-size:26px;font-weight:700;margin:12px 0 8px;line-height:1.2\">Lo que mueve la IA hoy</h1>\n    <p style=\"color:rgba(240,240,255,0.5);font-size:13px;margin:0 0 4px\">${todayCap}</p>\n    <p style=\"color:rgba(240,240,255,0.3);font-size:11px;font-family:monospace\">Fuentes: The Verge · TechCrunch · VentureBeat · Xataka · MIT Tech Review</p>\n  </div>\n  <div style=\"background:rgba(255,255,255,0.04);border:1px solid rgba(255,255,255,0.1);border-radius:16px;padding:28px;margin-bottom:24px\">\n    <p style=\"color:rgba(240,240,255,0.7);font-size:14px;line-height:1.7;margin:0 0 24px\">\n      Tu newsletter diario de IA está listo. <strong style=\"color:#f0f0ff\">${articles.length} noticias de alto impacto</strong> seleccionadas hoy desde fuentes en inglés y español.\n    </p>\n    <a href=\"file:///C:/Users/zcoder/ai-signal/newsletter_${new Date().toISOString().split('T')[0]}.html\"\n       style=\"display:inline-block;background:linear-gradient(135deg,#7c3aed,#0ea5e9);color:#fff;text-decoration:none;padding:14px 28px;border-radius:100px;font-size:14px;font-weight:600\">\n      ◈ Ver Newsletter Completo\n    </a>\n  </div>\n  ${articles.slice(0,3).map(item => {\n    const a = item.json;\n    return `<div style=\"border-left:2px solid rgba(167,139,250,0.4);padding:0 0 0 16px;margin-bottom:18px\">\n      <p style=\"color:#a78bfa;font-family:monospace;font-size:9px;letter-spacing:0.15em;text-transform:uppercase;margin:0 0 6px\">${a.tag} · ${a.source}</p>\n      <p style=\"color:#f0f0ff;font-size:14px;font-weight:600;margin:0 0 6px;line-height:1.4\">${a.title}</p>\n      <p style=\"color:rgba(240,240,255,0.5);font-size:12px;margin:0 0 8px;line-height:1.6\">${a.summary.substring(0,140)}...</p>\n      <a href=\"${a.link}\" style=\"color:#38bdf8;font-size:11px;font-family:monospace\">Leer artículo →</a>\n    </div>`;\n  }).join('')}\n  <p style=\"color:rgba(240,240,255,0.25);font-size:11px;text-align:center;margin-top:32px\">AI Signal · Automatizado con N8N · Ver landing: enlace en Drive</p>\n</div>\n</body></html>`;\n\nreturn [{ json: {\n  landingHTML,\n  emailHTML,\n  subject: `AI Signal — ${todayCap}`,\n  filename: `newsletter_${new Date().toISOString().split('T')[0]}.html`\n}}];\n"
      },
      "id": "ec176998-6801-4fed-8619-91ae9447d0db",
      "name": "Build HTML Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst base64 = Buffer.from(data.landingHTML, 'utf8').toString('base64');\nreturn [{ json: { ...data, attachmentBase64: base64 } }];\n"
      },
      "id": "bfc64518-c76e-4e8f-b831-43daee9e6631",
      "name": "Prepare Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        320
      ]
    },
    {
      "parameters": {
        "fromEmail": "alchemy.zcoder@gmail.com",
        "toEmail": "alchemy.zcoder@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.emailHTML }}",
        "options": {
          "attachments": "data:text/html;name={{ $json.filename }};base64,{{ $json.attachmentBase64 }}"
        }
      },
      "id": "d4924593-1512-49af-8950-a05ff610833d",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1152,
        320
      ],
      "webhookId": "a573650b-7785-41d6-bb61-7a3aa1cb29ec",
      "credentials": {
        "smtp": {
          "id": "o5r9SM8DmXwivk4n",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(data.landingHTML, 'utf8'),\n  data.filename,\n  'text/html'\n);\nreturn [{ json: { filename: data.filename }, binary: { data: binaryData } }];\n"
      },
      "id": "ab038f01-1cc4-4c1b-a23c-80ad2dd47b95",
      "name": "Landing Page (Descargar aqui)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        64
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "Root"
        },
        "options": {}
      },
      "id": "58d58e82-76be-437f-b36e-ee3b35e17ce0",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XXfqb1Ajzkr6Ayzk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-signal",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        112
      ],
      "id": "909b922d-3634-4db3-80b8-c7377149cefc",
      "name": "Webhook",
      "webhookId": "2b3f4c74-eaee-4577-89e8-db91731a2683"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day at 8am": {
      "main": [
        [
          {
            "node": "RSS - The Verge AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - TechCrunch AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - VentureBeat AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Xataka IA",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - MIT Tech Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - The Verge AI": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - TechCrunch AI": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RSS Feeds": {
      "main": [
        [
          {
            "node": "Filter & Format News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Format News": {
      "main": [
        [
          {
            "node": "Build HTML Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Pages": {
      "main": [
        [
          {
            "node": "Prepare Attachment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Landing Page (Descargar aqui)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Attachment": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Landing Page (Descargar aqui)": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a6da9b4e-ebbc-4591-940c-bb707357ce49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c114ee45638609b7a2777675a37a3cc64238effc8dda6ddee8bd745b5af3012f"
  },
  "id": "9NAdkdiz1sAKW1UL",
  "tags": []
}