docs/AI_Newsletter/Claude-Opus-4.6/n8n_workflow_panel_test_AI-newsletter.json
{
  "name": "AI Daily Newsletter - Panel Test",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "ad4fdb5e-b565-41ec-a275-f83956b66edd",
      "name": "Every Day at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        368
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-signal",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        128
      ],
      "id": "909b922d-3634-4db3-80b8-c7377149cefc",
      "name": "Webhook Panel Trigger",
      "webhookId": "2b3f4c74-eaee-4577-89e8-db91731a2683"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/ai-artificial-intelligence/index.xml",
        "options": {}
      },
      "id": "3832d416-84da-42d7-8a43-746e82d49cc8",
      "name": "RSS - The Verge AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "25d54b57-0c92-4615-ad85-2a1cca43654c",
      "name": "RSS - TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/venturebeat/SZYF",
        "options": {}
      },
      "id": "a16b762e-895f-4182-b5a4-86f245a47c60",
      "name": "RSS - VentureBeat AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.weblogssl.com/xataka2",
        "options": {}
      },
      "id": "de27d6c9-3073-41fa-b9c4-8968124165c6",
      "name": "RSS - Xataka IA",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {}
      },
      "id": "c39e2fff-4378-4364-b2fa-4a657a9e6d57",
      "name": "RSS - MIT Tech Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        640
      ]
    },
    {
      "parameters": {},
      "id": "2e250769-ba7c-45fc-a23b-e06c397ca9a5",
      "name": "Merge RSS Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        272,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst highImpactKeywords = [\n  'gpt', 'gemini', 'claude', 'llm', 'artificial intelligence',\n  'openai', 'anthropic', 'google deepmind', 'meta ai', 'mistral',\n  'model', 'breakthrough', 'release', 'launch', 'regulation',\n  'agi', 'agent', 'multimodal', 'reasoning', 'benchmark',\n  'inteligencia artificial', 'inteligencia', 'ia ', ' ai ',\n  'modelo', 'lanzamiento', 'regulacion', 'regulación', 'agente',\n  'aprendizaje', 'machine learning', 'deep learning', 'chatgpt',\n  'copilot', 'nvidia', 'sam altman', 'demis hassabis'\n];\n\nconst excludeKeywords = [\n  'how to use', 'tutorial basico', 'tips', 'tricks', 'quiz',\n  'deal', 'sale', 'discount', 'coupon', 'oferta', 'precio',\n  'comprar', 'chollos'\n];\n\nconst seen = new Set();\nconst filtered = items\n  .filter(item => {\n    const title = (item.json.title || '').toLowerCase();\n    const text = (title + ' ' + (item.json.contentSnippet || '') + ' ' + (item.json.categories || []).join(' ')).toLowerCase();\n    const hasHighImpact = highImpactKeywords.some(kw => text.includes(kw));\n    const hasExcluded = excludeKeywords.some(kw => text.includes(kw));\n    const hasLink = !!(item.json.link || item.json.guid);\n    const isDuplicate = seen.has(title.substring(0, 40));\n    if (!isDuplicate) seen.add(title.substring(0, 40));\n    return hasHighImpact && !hasExcluded && hasLink && !isDuplicate;\n  })\n  .slice(0, 8);\n\nconst tagMap = ['IA', 'Modelos', 'Investigación', 'Industria', 'Tecnología', 'Agentes', 'Regulación', 'Innovación'];\n\nreturn filtered.map((item, i) => ({\n  json: {\n    title: item.json.title || 'Sin título',\n    summary: item.json.contentSnippet\n      ? item.json.contentSnippet.substring(0, 220) + '...'\n      : item.json.content\n        ? item.json.content.replace(/<[^>]*>/g, '').substring(0, 220) + '...'\n        : 'Ver artículo completo.',\n    link: item.json.link || item.json.guid || '#',\n    source: (() => {\n      try {\n        const url = item.json.link || item.json.guid || '';\n        return url ? new URL(url).hostname.replace('www.', '') : 'fuente';\n      } catch(e) { return 'fuente'; }\n    })(),\n    date: item.json.pubDate\n      ? new Date(item.json.pubDate).toLocaleDateString('es-ES', { day: 'numeric', month: 'short', year: 'numeric' })\n      : new Date().toLocaleDateString('es-ES', { day: 'numeric', month: 'short', year: 'numeric' }),\n    tag: tagMap[i % tagMap.length],\n    isFeatured: i === 0\n  }\n}));\n"
      },
      "id": "8f80f6f5-8609-446a-b24b-85ac0d31b1e4",
      "name": "Filter & Format News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.all();\n\nconst today = new Date().toLocaleDateString('es-ES', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\nconst todayCap = today.charAt(0).toUpperCase() + today.slice(1);\n\nconst emailHTML = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"background:#09090f;margin:0;padding:32px 16px;font-family:system-ui,sans-serif\">\n<div style=\"max-width:520px;margin:0 auto\">\n  <div style=\"margin-bottom:28px\">\n    <span style=\"font-family:monospace;font-size:12px;color:#38bdf8;letter-spacing:0.2em\">AI SIGNAL</span>\n    <h1 style=\"color:#f0f0ff;font-size:26px;font-weight:700;margin:12px 0 8px;line-height:1.2\">Lo que mueve la IA hoy</h1>\n    <p style=\"color:rgba(240,240,255,0.5);font-size:13px;margin:0 0 4px\">${todayCap}</p>\n    <p style=\"color:rgba(240,240,255,0.3);font-size:11px;font-family:monospace\">Fuentes: The Verge · TechCrunch · VentureBeat · Xataka · MIT Tech Review</p>\n  </div>\n  <div style=\"background:rgba(255,255,255,0.04);border:1px solid rgba(255,255,255,0.1);border-radius:16px;padding:28px;margin-bottom:24px\">\n    <p style=\"color:rgba(240,240,255,0.7);font-size:14px;line-height:1.7;margin:0 0 24px\">\n      Tu newsletter diario de IA está listo. <strong style=\"color:#f0f0ff\">${articles.length} noticias de alto impacto</strong> seleccionadas hoy desde fuentes en inglés y español.\n    </p>\n  </div>\n  ${articles.slice(0,3).map(item => {\n    const a = item.json;\n    return `<div style=\"border-left:2px solid rgba(167,139,250,0.4);padding:0 0 0 16px;margin-bottom:18px\">\n      <p style=\"color:#a78bfa;font-family:monospace;font-size:9px;letter-spacing:0.15em;text-transform:uppercase;margin:0 0 6px\">${a.tag} · ${a.source}</p>\n      <p style=\"color:#f0f0ff;font-size:14px;font-weight:600;margin:0 0 6px;line-height:1.4\">${a.title}</p>\n      <p style=\"color:rgba(240,240,255,0.5);font-size:12px;margin:0 0 8px;line-height:1.6\">${a.summary.substring(0,140)}...</p>\n      <a href=\"${a.link}\" style=\"color:#38bdf8;font-size:11px;font-family:monospace\">Leer artículo →</a>\n    </div>`;\n  }).join('')}\n  <p style=\"color:rgba(240,240,255,0.25);font-size:11px;text-align:center;margin-top:32px\">AI Signal · Automatizado con N8N</p>\n</div>\n</body></html>`;\n\nreturn [{ json: {\n  emailHTML,\n  subject: `AI Signal — ${todayCap}`,\n  articleCount: articles.length\n}}];\n"
      },
      "id": "ec176998-6801-4fed-8619-91ae9447d0db",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        320
      ]
    },
    {
      "parameters": {
        "fromEmail": "alchemy.zcoder@gmail.com",
        "toEmail": "alchemy.zcoder@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.emailHTML }}",
        "options": {}
      },
      "id": "d4924593-1512-49af-8950-a05ff610833d",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        928,
        320
      ],
      "credentials": {
        "smtp": {
          "id": "o5r9SM8DmXwivk4n",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day at 8am": {
      "main": [
        [
          { "node": "RSS - The Verge AI", "type": "main", "index": 0 },
          { "node": "RSS - TechCrunch AI", "type": "main", "index": 0 },
          { "node": "RSS - VentureBeat AI", "type": "main", "index": 0 },
          { "node": "RSS - Xataka IA", "type": "main", "index": 0 },
          { "node": "RSS - MIT Tech Review", "type": "main", "index": 0 }
        ]
      ]
    },
    "Webhook Panel Trigger": {
      "main": [
        [
          { "node": "RSS - The Verge AI", "type": "main", "index": 0 },
          { "node": "RSS - TechCrunch AI", "type": "main", "index": 0 },
          { "node": "RSS - VentureBeat AI", "type": "main", "index": 0 },
          { "node": "RSS - Xataka IA", "type": "main", "index": 0 },
          { "node": "RSS - MIT Tech Review", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS - The Verge AI": {
      "main": [
        [
          { "node": "Merge RSS Feeds", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS - TechCrunch AI": {
      "main": [
        [
          { "node": "Merge RSS Feeds", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge RSS Feeds": {
      "main": [
        [
          { "node": "Filter & Format News", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter & Format News": {
      "main": [
        [
          { "node": "Build Email HTML", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          { "node": "Send Email", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c114ee45638609b7a2777675a37a3cc64238effc8dda6ddee8bd745b5af3012f"
  },
  "tags": []
}
